<h1>Pages#about</h1>
<h2>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
<p>Find me in app/views/pages/about.html.erb</p>
