<h1>Home</h1>
<h2>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
<ul>
  <li><%= link_to '12 Lizards', lizards_path(12) %></li>
  <li><%= link_to '1444 Lizards', lizards_path(444) %></li>
  <li><%= link_to '9672 Lizards', lizards_path(9672) %></li>
</ul>